@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #1D212B;
}

.content {
    width: 1200px;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section:nth-child(1) {
    color: #fff;
}
section:nth-child(2) {
    background: #fff;
    color: #1D212B;
}
section:nth-child(3) {
    color: #fff;
}
section:nth-child(4) {
    background: #fff;
    color: #1D212B;
}

section .container {
    margin: 100px;
}

.container h2 {
    margin-bottom: 50px;
}

.container .cards {
    display: flex;
    gap: 30px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

#header p {
    background: #191d25;
    padding: 20px;
    border-radius: 10px;
}


section h1 {
    text-align: left;
    font-size: 40px;
    background: #191d25;
    padding: 20px;
    border-radius: 10px;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .cards {
    display: flex;
}

section .cards .text-card {
    background: #91bddf;

    padding: 50px;

    border-radius: 10px;
}
section .cards .text-card h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    section h1 {
        font-size: 40px;
        text-align: left;
    }

    section .cards {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateY(250px);
    opacity: 0;

    transition: all 2s ease;
}

.reveal iframe {
    width: 850px;
    height: 500px;

    border-radius: 10px;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}